<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body class="home">
		<%- include('./partials/nav.ejs') %>
		<h1>Blog web</h1>
		<p>Node.js Express, EJS, MongoDB By Edson</p>
	</body>
</html>
